.app.dark {
  --bg-color: #002661;
  --inverted-bg-color: #ffffff;

  --primary-color: #ffffff;
  --secondary-color: #e6f7f7;
   --inverted-primary-color: #1a212d;
  --inverted-secondary-color: #46cfcf;
}
