.app {
  --bg-color: #ffffff;
  --inverted-bg-color: #002661;

  --primary-color: #1a212d;
  --secondary-color: #46cfcf;

  --inverted-primary-color: #ffffff;
  --inverted-secondary-color: #e6f7f7;
}
